.add-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
}

.add-area textarea {
    flex: 1;
    border: solid 1px black;
    border-radius: 8px;
    width: 100%;
    padding: 4px;
    font-family: "Architects Daughter", cursive;
    font-size: 1rem;
    resize: none;
}

.add-area button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-family: "Architects Daughter", cursive;
    text-decoration: none;
    border-radius: 5px;
    background-color: #ffeaa7;
}