.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
}

.main-area {
    flex: 3;
    display: flex;
    padding: 16px;
    background-color: #ffeaa7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.main-area h1 {
    text-align: center;
    font-family: "Architects Daughter", cursive;
    font-size: 4rem;
    margin: 0;
    padding: 16px;
}

#information, #action {
    text-align: center;
    font-family: "Architects Daughter", cursive;
    margin: 0;
    padding: 0;
}

#action {
    font-weight: bold;
    font-size: 1.5rem;
}

.main-area button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-family: "Architects Daughter", cursive;
    text-decoration: none;
    border-radius: 5px;
    background-color: #fdcb6e;
}

.side-area {
    flex: 1;
    width: 100%;
    padding: 32px;
    border-radius: 16px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
}

/*.add-area {
    width: 100%;
}

.side-area h1 {
    text-align: center;
    margin: 0;
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-color: #fdcb6e;
    font-family: "Architects Daughter", cursive;
    font-size: 1.5rem;
} */