.simpleview-container {
    background-color: #ffeaa7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: row;
    width: 100%;
}

.input-area {
    width: 100%;
    flex-grow: 0;
    max-width: 350px;
    height: 75%;
    padding: 32px;
    border-radius: 16px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
}

